<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="../resources/css/style1.css" />
    <link rel="stylesheet" href="../resources/css/styleguide1.css" />
</head>

    <div class="login">
        <div class="div">
            <div class="overlap">
                <div class="text-wrapper">Info</div>
                <div class="text-wrapper-2">Cartel</div>
                <div class="text-wrapper-3">MID FESTIVAL</div>
                <!-- <div class="text-wrapper-4">Home</div> -->
                <a href="Index.html" class="text-wrapper-4">Home</a>
                <div class="text-wrapper-5">Info entradas</div>
            </div>
            <footer class="footer">
                <div class="youtube"></div>
                <div class="x"></div>
                <div class="tiktok"></div>
                <div class="facebook"></div>
                <img class="instagram" src="../resources/img/instagramIcon.png" />
                <div class="text-wrapper-6">Síguenos</div>
                <img class="rectangle" src="../resources/img/Logo.png" />
                <div class="text-wrapper-7">Contacto</div>
                <div class="text-wrapper-8">Publicidad</div>
                <div class="text-wrapper-9">Aviso legal</div>
                <div class="text-wrapper-10">Política de cookies</div>
                <p class="todos-los-derechos">
                    <span class="span">Todos los derechos reservados para</span>
                    <span class="text-wrapper-11">&nbsp;</span>
                    <span class="text-wrapper-12">Miranda Design</span>
                </p>
            </footer>
            <div class="overlap-group">
                <div class="apple-wrapper"><img class="apple" src="../resources/img/appleIcon.png" /></div>
                <div class="facebook-wrapper">
                    <div class="facebook-2"></div>
                </div>
                <img class="line" src="../resources/img/barraGris.png" />
                <!-- <div class="overlap-2">
                    <button class="rectangle-2"></button>
                    <div class="text-wrapper-13">Enter</div>
                </div> -->
                <button class=" overlap-2">Enter</button>
                <div class="overlap-3">
                    <input type="password" placeholder="Password" type="Password" class="rectangle-3 text-wrapper-14">
                    <!-- <div class="rectangle-3"></div>
                    <div class="text-wrapper-14">Password</div> -->
                </div>
                <a class="CREAR-CUENTA" href="register.html">Crear cuenta</a>
                <div class="text-wrapper-15">Login</div>
                <input class="email" placeholder="Email" type="email" />
                <div class="text-wrapper-16">Recover password ?</div>
                <div class="text-wrapper-17">o continua con</div>
                <img class="img" src="../resources/img/barraGris.png" />
                <div class="google-wrapper"><img class="google" src="../resources/img/googleIcon.png" /></div>
            </div>
        </div>
    </div>


</html>